#root {
  /* max-width: 1280px; */
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

html,
body,
#root {
  height: 100%;
}

.glare {
  position: fixed;
  overflow: hidden;
  width: 170%;
  height: 200%;
  background: radial-gradient(circle, rgba(27, 0, 133, 0.3) 0%, rgba(22, 0, 109, 0) 50%);
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  mix-blend-mode: screen;
  z-index: 10;
 }